.socialSection {
  background-color: hsl(var(--gray));
  flex-direction: row;
  gap: 0rem;
  padding: 0;
  color: hsl(var(--blue));
  height: 500px;
}

.socialText {
  font-size: 45px;
  font-weight: 700;
  padding-left: 20px;
  flex: 1;
}

.socialLinks {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.socialIcons {
  color: hsl(var(--blue));
}

.socialImage {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

/* Medium-sized devices (like tablets in portrait and landscape mode) */
@media only screen and (min-width: 850px) and (max-width: 1050px) {
  .socialSection {
    padding: 0;
    height: 400px;
  }

  .socialText {
    font-size: 33px;
    font-weight: 600;
  }
  .socialLinks {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }
}

/* Mobile devices */
@media only screen and (max-width: 850px) {
  .socialSection {
    padding: 0px;
    background-image: url('/assets/communityImage_01.jpg');
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px hsla(var(--cool-gray), 0.75);
    background-size: cover;
  }

  .socialText {
    width: 100%;
    font-size: 2rem;
  }

  .socialImage {
    display: none;
  }
}
