.container {
  background-color: #3c3db9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 1rem;
  flex-direction: column;
  color: #fff;
  width: 100%;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.subtitle {
  width: 100%;
  color: #fff;
  text-align: left;
  font-family: Raleway;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

.paragraphBox {
  padding: 70px;
  margin: auto;
}

.cohortsParagraph {
  padding: 20px 0;
  font-size: 24px;
  font-family: Raleway;
  text-align: center;
  font-weight: 700;
  max-width: 70%;
  margin: auto;
}

.cohortSection {
  width: 97%;
  margin: auto 0;
  padding: 20px 0;
}

.cohortList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.yearSelector {
  display: flex;
  width: 100%;
  text-align: left;
  gap: 50px;
}

.yearButton {
  background: none;
  border: none;
  font-size: 36px;
  font-weight: 600;
  color: rgba(138, 139, 231, 1);
  cursor: pointer;
  padding: 10px 10px;
  transition: color 0.3s;
}

.active {
  font-weight: bold;
  color: #ffffff;
}
