@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.mobileNavBar {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
}

.innerContainer {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a,
.navLinks a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #3c3db9;
}

.navLinks {
  display: flex;
}

.home {
  font-weight: 900;
}

.homeLink {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.links {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #3c3db9;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 5px;
  padding-right: 10px;
}

/* This is the underline */
.links::after {
  content: '';
  display: block;
  border-radius: 10px;
  width: 110%;
  height: 5px;
  background-color: hsla(240, 98%, 60%, 0.5);
  position: absolute;
  left: 0%;
  bottom: 0;
  top: 100%;
}

.meetupLink {
  border-radius: 50px;
  padding: 20px 40px;
  background-color: #3c3db9;
  color: white;
  font-size: 25px;
  text-decoration: none;
}

.hamburger,
.cross {
  display: none;
}

.hamburger div,
.cross div {
  width: 25px;
  height: 3px;
  background-color: #3c3db9;
  margin: 5px;
  transition: all 0.3s ease;
}

.navLinks {
  display: flex;
  gap: 35px;
}

.navLinks.active {
  display: none;
}

@media (max-width: 1150px) {
  .home {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .mobileNavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    border-bottom: #eeeeee 1px solid;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .hamburger,
  .cross {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .crossContainer {
    width: 50%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
  }

  .cross {
    justify-content: center;
    align-self: flex-end;
  }

  .cross {
    align-items: flex-start;
  }

  .hamburger div,
  .cross div {
    width: 25px;
    height: 3px;
    background-color: #3c3db9;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .cross {
    position: relative;
  }

  .cross div {
    position: absolute;
  }

  .cross div:last-child {
    transform: rotate(45deg);
  }

  .cross div:first-child {
    transform: rotate(-45deg);
  }

  .mobileNav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    text-decoration: none;
  }

  .navLinks.active {
    display: flex;
  }

  .logo a,
  .navLinks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #3c3db9;
  }
  .links::after {
    display: none;
  }

  .meetupLink {
    background-color: #fff;
    color: #3c3db9;
    text-decoration: none;
    padding: 0;
  }

  .mobileNav a,
  .meetupLink {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #3c3db9;
    text-decoration: none;
    line-height: 14.09px;
  }
}
