@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  padding: 60px;
  justify-content: space-around;
}

.card {
  flex: 0 0 425px;
  height: 550px;
  background-color: #d9d9d9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway';
}

.cardHeader {
  font-size: 32px;
  font-weight: 900;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
