.imageSection {
  position: relative;
  width: 100%;
}

/******************
*  Media Queries  *
*******************/
/* Mobile devices */
@media only screen and (max-width: 850px) {
  .aboutContainer {
    gap: 10px;
  }

  .imageSection {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .imageSection {
    height: 400px;
  }
}
@media (min-width: 576px) {
  .imageSection {
    height: 300px;
  }
}
@media (min-width: 850px) {
  .imageSection {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .imageSection {
    height: 700px;
  }
}
