.aboutContainer {
  align-items: flex-start;
}

.imageSection {
  position: relative;
  width: 100%;
}
.aboutTitle {
  font-weight: 700;
  margin: 0;
}
.opensourceContainer {
  border-top: 10rem solid hsl(var(--light-blue));
  align-items: flex-start;
}
.opensourceTitle {
  color: hsl(var(--blue));
  text-align: left;
  margin: 0;
  flex: 1;
}

.opensourceDescription {
  text-align: left;
  font-weight: 500;
  white-space: pre-line;
}

/******************
*  Media Queries  *
*******************/
/* Mobile devices */
@media only screen and (max-width: 850px) {
  .aboutContainer {
    gap: 10px;
  }
  .aboutTitle {
    font-size: var(--text-lg);
    width: 100%;
  }
  .imageSection {
    height: 300px;
  }
  .opensourceTitle {
    font-size: var(--text-lg);
    font-weight: 700;
  }
}
@media (max-width: 575px) {
  .imageSection {
      height: 400px;
  }
}
@media (min-width: 576px) {
    .imageSection {
      height: 300px;
    }
}
@media (min-width: 768px) {
  .aboutTitle {
    text-align: center;
  }
}
@media (min-width: 850px) {
  .imageSection {
    height: 600px;
  }
  .aboutDescription {
    text-align: center;
    white-space: pre-wrap;
  }
}
@media (min-width: 1200px) {
  .imageSection {
    height: 700px;
  }
}