.offeringCard {
  background: linear-gradient(
    180deg,
    rgba(102, 103, 255, 1),
    rgba(61, 62, 153, 1)
  );
  border-radius: 1.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-shadow: 0.625rem 0.625rem 0.9375rem 0.3125rem rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 9.6875rem;
  margin: 1.25rem auto;
  flex-wrap: nowrap;
  text-align: center;
}

.textContainer {
  flex: 1;
  display: flex;
  margin-right: 1rem;
  text-align: left;
}

.text {
  color: hsl(var(--white));
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 850px) {
  .offeringCard {
    padding: 2rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }

  .textContainer {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .text {
    font-size: 1.25rem;
  }
}
