@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.personContainer {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c3db9;
  border-radius: 5px;
  width: 240px;
  height: 314px;
}

.defaultImageContainer {
  margin-top: 10px;
  width: 215px;
  height: 205px;
  background-color: #d9d9d9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personImageContainer {
  margin-top: 10px;
  width: 215px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#personImage {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#defaultImage {
  width: 80%;
  height: 80%;
}

.fullName {
  color: white;
  margin: 10px 0 10px 0;
  font-size: 21px;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65px;
}

.icon {
  width: 30px;
  height: 35px;
  color: white;
}

#linkedin {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(110deg)
    brightness(104%) contrast(101%);
}
