.personContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: hsl(var(--light-blue));
  border-radius: 5px;
  padding: 15px;
}

.personImageContainer {
  border: 4px solid hsl(var(--blue));
  position: relative;
  width: 190px;
  height: 180px;
}

.fullName {
  color: white;
  width: 100%;
  font-size: 22px;
  margin: 0px;
}

.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 35px;
  color: white;
}

#linkedin {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(110deg)
    brightness(104%) contrast(101%);
}
