.personContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: hsla(var(--dark-lighter), 0.7);
  border-radius: var(--border-radius-sm);
  padding: 8px 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.personContainer:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.personContainer h3,
.personContainer .iconContainer {
  padding-left: 10px;
}

.personImageContainer {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid hsla(var(--primary-light), 0.5);
}

.fullName {
  color: white;
  width: 100%;
  font-size: 16px;
  margin: 0px;
  text-align: center;
}

.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 35px;
  color: white;
}

#linkedin {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(110deg)
    brightness(104%) contrast(101%);
}
