:root {
  /* break points*/
  --max-width: 1450px;

  /* colors */
  --dark-blue: 239, 58%, 14%;
  --blue: 240, 51%, 48%;
  --white: 0, 0%, 100%;
  --cool-gray: 240, 26%, 85%;

  --color-primary: var(--blue);
  --color-secondary: var(--dark-blue);
}

.innerContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: hsl(var(--cool-gray));
}
