.hero {
  background: var(
    --background-gradient,
    linear-gradient(180deg, #dcdceb 0%, #fff 100%)
  );
  display: flex;
  align-items: center;
  position: relative;
  height: 50vh;
}

.heroSection {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: -4px;
}

.videoPlaceholder {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  width: 25rem;
  height: 25rem;
  background-color: lightgrey;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.intro {
  margin-left: 3rem;
  width: 40%;
  font-size: 5rem;
  font-weight: 700;
  color: #3c3db9;
  line-height: 1.2;
  text-align: center;
}

.purpleShape {
  background-color: #3c3db9;
  width: 60%;
  height: 50vh;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 25px;
  margin-right: -2rem;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .intro {
    font-size: 4.375rem;
  }
}

@media (max-width: 1000px) {
  .intro {
    margin-left: 1rem;
    width: 40%;
    font-size: 4rem;
  }

  .videoPlaceholder {
    right: 2rem;
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 760px) {
  .hero {
    background: var(
      --Gradient-to-Dark,
      linear-gradient(180deg, #3c3db9 0%, #0f1036 100%)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
  }

  .heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
    padding: 0;
  }

  .intro {
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.0625rem;
    width: 18rem;
    height: 10rem;
    margin: 0;
  }

  .videoPlaceholder {
    width: 25rem;
    height: 25rem;
    position: relative;
    right: 0;
    top: 0;
    transform: none;
    background: #302929;
    color: #fff;
    color: #fff;

    text-align: center;
    font-family: Raleway;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .purpleShape {
    display: none;
  }
}
