.hero {
  background:
    url('/assets/dsdHeroBg.png') no-repeat center center,
    linear-gradient(180deg, #dcdceb 0%, #fff 100%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 60vh;
  min-height: 400px;
  max-height: 800px;
  overflow: hidden;
  max-width: 1450px;
}

.heroSection {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  padding-left: 5%;
  width: 40%;
  max-width: 500px;
}

.videoPlaceholder {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  width: 33rem;
  height: 19rem;
  padding: 0.25rem;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 2;
  margin-left: 5rem;
  max-width: 600px; /* Ensure the videoPlaceholder has a max width*/
}

.intro {
  font-size: 3rem;
  font-weight: 700;
  color: #3c3db9;
  line-height: 1.2;
  max-width: 10ch;
  word-wrap: break-word;
  text-align: center;
}
/* 
.videoPlaceholder {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  width: 17rem;
  height: 15rem;
  padding: 2rem;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 2;
  margin-right: 1rem;
} */

@media (max-width: 1350px) {
  .videoPlaceholder {
    width: 39vw;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .videoPlaceholder {
    width: 33vw;
    height: auto;
  }
}

@media (max-width: 850px) {
  .hero {
    background: var(
      --Gradient-to-Dark,
      linear-gradient(180deg, #3c3db9 0%, #0f1036 100%)
    );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Allow height to adjust based on content */
    min-height: 400px; /* Ensure minimum height is maintained */
    padding: 2rem 1rem;
  }

  .heroSection {
    width: 100%;
    align-items: center;
    padding-left: 0;
    max-width: 90%; /* Reduce the maximum width to prevent overflow */
  }

  .intro {
    text-align: center;
    font-size: 2rem;
    max-width: 10ch;
  }

  .videoPlaceholder {
    width: 100%;
    max-width: none;
    margin-right: 5rem;
    margin-top: 1rem;
    max-width: 300px;
    height: auto;
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .videoPlaceholder {
    width: 60%;
    padding: 1rem 0.7rem;
  }
}
