@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.heroSection {
  font-family: 'Raleway', sans-serif;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 4rem 5rem 1rem;
  margin: 3rem 0;
  background-image: url('/assets/dsdHeroBg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.videoPlaceholder {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  height: 320px;
  flex: 0 0 480px;
  background-color: lightgrey;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  margin: 0;
  font-size: 100px;
  font-weight: 900;
  color: #3c3db9;
  flex: 0 1 750px;
  line-height: 1.2;
  mix-blend-mode: color-dodge;
  mix-blend-mode: plus-lighter;
}

.mobileHeroImage {
  display: none;
}
@media (width < 1300px) {
  .intro {
    flex-basis: 500px;
    font-size: 70px;
  }
}

@media (width < 960px) {
  .heroSection {
    padding: 3rem 1.5rem;
  }
  .intro {
    flex-basis: 420px;
    font-size: 50px;
  }
  .videoPlaceholder {
    flex-basis: 350px;
    height: 240px;
  }
}

@media (max-width: 690px) {
  .heroSection {
    flex-direction: row;
    padding: 0 1rem 0 0;
    margin: 4rem -10px 15px 15px;
    background-image: url('/assets/dsdMobileHeroBg.png');
    background-size: 65%;
  }

  .intro {
    font-size: 24px;
    flex: 0 1 45%;
    margin-right: 1rem;
  }

  .videoPlaceholder {
    display: none;
  }
  .mobileHeroImage {
    display: block;
    flex: 0 1 45%;
    z-index: 2;
    margin-bottom: -20px;
    margin-top: 5px;
  }
}
