@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");

.heroSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  padding: 5rem 3rem;
  margin: 3rem 0;
  background-image: url("/assets/dsdHeroBg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.videoPlaceholder {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  height: 320px;
  width: 460px;
  background-color: lightgrey;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  font-size: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #3c3db9;
}
