.container {
  background-color: #3c3db9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  flex-direction: column;
  color: #fff;
  width: 100%;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.communityParagraph {
  padding: 5rem 0;
  font-size: 1.5rem;
  font-family: Raleway;
  text-align: center;
  font-weight: 700;
  max-width: 70%;
  margin: auto;
}

.teamSection {
  max-width: 85%;
  margin: 5rem 0;
}

.subtitle {
  color: #fff;
  text-align: left;
  font-family: Raleway;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.teamParagraph {
  font-size: 24px;
  font-family: Raleway;
  font-weight: 700;
  margin: auto;
  padding: 1.25rem 0 0 1.25rem;
}

.peopleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem 0;
}

.yearSelector {
  display: flex;
  gap: 3rem;
  justify-content: start;
  margin: 1.25rem 0;
}

.yearButton {
  background: none;
  border: none;
  font-size: 2.25 rem;
  font-weight: 600;
  color: rgba(138, 139, 231, 1);
  cursor: pointer;
  padding: 0.625rem 0.625rem;
  transition: color 0.3s;
}

.active {
  font-weight: bold;
  color: #ffffff;
}

.speakerList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .speakerList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .speakerList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .speakerList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .speakerList {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 3rem;
  }
}
