.teamSection {
  max-width: 85%;
  margin: 5rem 0;
}

.teamParagraph {
  font-size: 1.5rem;
  font-weight: 700;
  margin: auto;
  padding: 1.25rem 0 0 1.25rem;
}

.peopleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem 0;
  gap: 2rem;
}

.yearSelector {
  display: flex;
  gap: 3rem;
  justify-content: start;
  margin: 1.25rem 0;
}

.yearButton {
  background: none;
  border: none;
  font-size: 2.25rem;
  font-weight: 600;
  color: rgba(138, 139, 231, 1);
  cursor: pointer;
  padding: 0.625rem 0.625rem;
  transition: color 0.3s;
}

.active {
  font-weight: bold;
  color: #ffffff;
}

.speakerList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .speakerList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .speakerList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .speakerList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .speakerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .peopleList {
    justify-content: center;
    align-items: center;
  }

  .yearButton {
    font-size: 1.25rem;
  }
}
