.bannerSection {
  background-color: #0f1038;
  width: 102%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
}

.bannerText {
  padding: 1rem 0;
  width: 60%;
  color: white;
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .bannerText {
    font-size: 2rem;
  }
}

/* Medium-sized devices (like tablets in portrait and landscape mode) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bannerText {
    font-size: 3rem;
  }
}
